<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tolongin_icon_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TolonginProjectPAPB"
        tools:targetApi="31">
        <activity
            android:name=".activities.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileCarboActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfilePostsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateForumActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BigMissionActionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BigMissionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DailyMissionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VolunteerActionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VolunteerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KampanyeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CameraVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LogInActivity"
            android:exported="false"
            android:label="@string/title_activity_log_in"
            android:theme="@style/Theme.TolonginProjectPAPB" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/Theme.TolonginProjectPAPB">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TolonginProjectPAPB.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>